<section class="slider" id="home">
  <div class="container-fluid">
    <div class="row">
        <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="header-backup"></div>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="img/slide-one.jpg" alt="">
                    <div class="carousel-caption">
                      <h1>Neus, Keel en Oor</h1>
                      <p>Neemt deel aan de wachtdienst NKO van het ASZ</p>
                      <button>Maak een afspraak</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- phone numbers -->
        <div class="numbers">
          <div class="col-sm-12">
            <div class="number" data-toggle="tooltip" title="053/420 351">Privé Afspraak {{{ title }}}</div>
          </div>
        </div>
    </div>
  </div>
</section><!-- end of slider section -->

<!-- about section -->
<section class="about text-center" id="about">
  <div class="container">
    <div class="row">
      <h2>Over</h2>
      <div class="col-md-3 col-sm-12">
        <svg class="clip-svg">
          <defs>
            <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
              <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
            </clipPath>
          </defs>
        </svg>


        <div class="polygon-each-img-wrap">
          <img src="img/me.jpg" alt="demo-clip-heptagon" class="polygon-clip-hexagon" style="width:300px;height:300px">
        </div>
      </div>
      <div class="col-md-9 col-sm-12">
        <h4 id="about">
          Dr. Lore De Schryver is een erkend en geaccrediteerd Neus-, Keel- en Oorspecialist.
          Ze is opgegroeid te Aalst en volgde er het kleuter-, basis- en algemeen secundair onderwijs.
          In 2001 behaalde ze aan de Universiteit Gent haar diploma van arts met de grootste onderscheiding. Vervolgens volgde ze een opleiding allergologie gedurende 2 jaar onder leiding van Prof Van Cauwenberge aan het UZ Gent.
          In 2003 startte ze met de opleiding Neus-, Keel-, Oorheelkunde en Hoofd- en Halschirurgie in het UZ Gent op de dienst van Prof Van Cauwenberge, Prof Vermeersch en Prof Dhooge. In 2007 werd ze erkend als NKO arts.
          Ze werkte gedurende 6 maanden in de Sint-Jozefskliniek te Izegem en verhuisde met haar gezin naar Roeselare.
          Echter na 6 maanden keerde ze reeds terug naar de stad van haar hart om er in 2008 haar privé praktijk te beginnen in de Gustaaf Papestraat te Aalst en dit als toegelaten geneesheer van het ASZ. In 2010 verhuisde ze naar een nieuwbouw met praktijk en privé parking voor de patiënten in de Kwalestraat 115A te Nieuwerkerken-Aalst.
          Sinds oktober 2012 is ze staflid NKO in het ASZ. De raadplegingen vinden plaats in haar privé praktijk of in het ASZ Aalst/Wetteren; de operaties in het ASZ Aalst/Wetteren.
          Uiteraard neemt Dr Lore De Schryver ook deel aan de wachtdienst NKO van het ASZ.
        </h4>
      </div>
    </div>
  </div>
</section><!-- end of about section -->


<!-- service section starts here -->
<section class="service text-center" id="service">
  <div class="container" style="width:100%">
    <div class="row">
      <h2>Diensten</h2>
      <h4>{{{ title }}} heeft zich gespecialiseerd in volgende gebieden</h4>
      <div class="col-md-3 col-sm-6">
        <div class="single-service">
          <div class="single-service-img">
            <div class="service-img">
              <img class="heart img-responsive" src="img/nose.svg" alt="">
            </div>
          </div>
          <h3>Neus</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-service">
          <div class="single-service-img">
            <div class="service-img">
              <img class="brain img-responsive" src="img/ear.svg" alt="">
            </div>
          </div>
          <h3>Oren</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-service">
          <div class="single-service-img">
            <div class="service-img">
              <img class="knee img-responsive" src="img/throat.svg" alt="">
            </div>
          </div>
          <h3>Keel</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-service">
          <div class="single-service-img">
            <div class="service-img">
              <img class="bone img-responsive" src="img/eye-open.svg" alt="">
            </div>
          </div>
          <h3>Esthetische geneeskunde</h3>
        </div>
        <div class="triangle"></div>
      </div>
    </div>
  </div>
</section><!-- end of service section -->

<section class="esthetische" id="esthetische-geneeskunde">
  <div class="container">
    <div class="row esthetische">
      <div class="col-sm-12">
        <img src="/img/botox.jpg" alt="Botox" class="img-responsive" id="image-esthetische"/>
      </div>
      <div class="col-sm-12" class="about-esthetische" id="justify">
        {{{ title }}} bekwaamde zich ook in de esthetische geneeskunde, vnl van het gelaat. Als Neus-,Keel- & Oorarts en Hoofd- & Halschirurg kende ze de anatomie en de werking van de huid, spieren, zenuwen en bloedvaten in deze regio zeer goed.  Vanaf 2008 volgde ze verschillende theoretische en praktische opleidingen om de injectables (botuline toxine en fillers) op een correcte en veilige manier in te spuiten. Sinds 2010 kan je hiervoor  terecht in haar privé praktijk, Kwalestraat 115A te Nieuwerkerken.
      </div>
    </div>
    <div class="row esthetische">
      <div class="col-md-5 col-sm-12" class="about-botox-picture">
        <img src="/img/botox.png" alt="Botox icon" class="img-responsive" />
      </div>
      <div class="col-md-7 col-sm-12" class="about-botox" id="justify">
        Botuline toxine is een eiwit  dat al sinds jaar en dag gebruikt wordt om verhoogde spierspanning of spasticiteit te helpen verminderen. De laatste jaren wordt het meer en meer gebruikt voor cosmetische doeleinden.

        Sommige rimpels ontstaan door herhaalde spierbewegingen (vb frons, voorhoofd, kraaiepootjes, ..) Door de activiteit van deze spieren te verzwakken, kan je de oorzaak van de rimpel aanpakken. Correct ingespoten botuline toxine in deze gelaatsspieren geeft een zachtere, natuurlijke gelaatsuitdrukking met behoud van de normale mimiek.
         Rimpels die ontstaan zijn door een slapper wordende huid of door herhaalde blootstelling aan de zon kunnen niet behandeld worden met botuline toxine. Er moet in dat geval een ‘filler’ gebruikt worden om het volume te herstellen of er dringt zich een huidverbeterende behandeling op.

        Botuline toxine kan echter veel meer. Met bepaalde technieken kunnen accenten gelegd worden in het aangezicht (vb lifting van wenkbrauw, omhoog brengen van afhangende mondhoeken, correctie van kleine putjes in de kin door overactieve spiertjes, …).  Botuline toxine wordt ook regelmatig gebruikt om overmatig transpireren onder de oksels te verminderen door blokkage van de zweetklieren. Botuline Toxine kan ook migraine verminderen.

        Botuline toxine wordt met een zeer fijne naald geïnjecteerd. Het prikje zelf is niet echt pijnlijk. De injectie van vloeistof kan wat branderig aanvoelen.  Een behandeling duurt meestal een kwartier. Onmiddellijk na de behandeling kan je het werk hervatten.

        Botuline toxine is geen permanent middel en zal langzaam uitwerken. Onmiddellijk na de behandeling kan een lichte roodheid, zwelling of blauw plekje zichtbaar zijn. Een uur na de behandeling mag je een lichte make-up aanbrengen.  Enkele dagen na de injectie begin je de eerste effecten te zien.  Het effect houdt tussen de 3 en 6 maanden aan.
      </div>
    </div>
    <div class="row esthetische">
      <div class="col-md-7 col-sm-12" class="about-fillers" id="justify">
        Fillers zijn injecteerbare gels die gebruikt worden voor het opvullen van rimpels en plooien, het accentueren van de contouren, het herstellen van volume en het verstevigen van de huid. Denk maar aan de behandeling van de neus-lippenplooi en de afhangende mondhoeken, het opvullen van de lippen, het wegwerken van rokerslijntjes of het accentueren van de jukbeenderen.

        Er bestaan verschillende soorten fillers met verschillende eigenschappen. Er wordt enkel gebruikt gemaakt van afbreekbare fillers, gebaseerd op lichaamseigen of natuurlijke stoffen. De effectiviteit en de veiligheid  op lange termijn is bewezen. De arts zal je adviseren welke filler het best past bij jouw wensen.

        Tijdens de behandeling worden verschillende prikjes gegeven waarbij de gel wordt ingespoten. De behandeling is vrijwel pijnloos. Mocht je erg pijngevoelig zijn, kunnen maatregelen genomen worden om je te verdoven. Na de injectie wordt het behandelde gebied vaak gemasseerd. Een behandeling duurt meestal een half uur.

        Het effect van een filler blijft tussen de 6 maanden tot meer dan een jaar zichtbaar afhankelijk van het gekozen product en het behandelde gebied. Onmiddellijk na de injectie kan een matige roodheid, zwelling en blauwe plek zichtbaar zijn. Deze verdwijnen over het algemeen snel (enkele dagen). Een uur na de behandeling mag je een lichte make-up aanbrengen. Het effect is onmiddellijk zichtbaar.

        Vaak is de ideale behandeling voor bepaalde rimpels een combinatie van botuline toxine en een filler. Door eerst de spieren te verzwakken en nadien de huid op de plaats van de rimpel op te vullen, kan een optimaal en natuurlijk ogend resultaat bereikt worden.
      </div>
      <div class="col-md-5 col-sm-12" class="about-fillers-picture">
        <img src="/img/fillers.png" alt="Fillers icon" class="img-responsive" />
      </div>
    </div>
  </div>
</section>

<!-- map section -->
<div class="api-map" id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 map" id="map"></div>
    </div>
  </div>
</div><!-- end of map section -->

<!-- contact section starts here -->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="contact-caption clearfix">
        <div class="contact-heading text-center">
          <h2>Contact</h2>
        </div>
        <div class="col-md-4 col-sm-12 contact-info text-left">
          <h3>Privé</h3>
          <div class="info-detail">
            <ul><li><i class="fa fa-calendar"></i><span> Beschikbaarheid </span></li></ul>
            <ul><li><span>Maandag:</span> 8:30 - 12:00 en 18:30 - 21:00</li></ul>
            <ul><li><span>Dinsdag:</span> NTB</li></ul>
            <ul><li><span>Woensdag:</span> 8:00 - 12:00 en 13:30 - 18:30</li></ul>
            <ul><li><span>Donderdag:</span> 14:00 - 17:30</li></ul>
            <ul><li><span>Vrijdag:</span> 14:00 - 17:00</li></ul>
            <ul><li><span>Zaterdag:</span> 9:00 - 12:00</li></ul>
            <ul><li><span>Zondag:</span> NTB</li></ul>
            <br>
            <br>
            <ul><li><i class="fa fa-map-marker"></i><span>Adres:</span> Kwalestraat 115A, 9320 Nieuwekerken</li></ul>
            <ul><li><i class="fa fa-phone"></i><span>Telefoon:</span> 053/420 351</li></ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 contact-info text-left">
          <h3>ASZ Wetteren</h3>
          <div class="info-detail">
            <ul><li><i class="fa fa-calendar"></i><span> Beschikbaarheid </span></li></ul>
            <ul><li><span>Maandag:</span> NTB</li></ul>
            <ul><li><span>Dinsdag:</span> 8:30 - 11:45</li></ul>
            <ul><li><span>Woensdag:</span> NTB</li></ul>
            <ul><li><span>Donderdag:</span> 8:30 - 11:45</li></ul>
            <ul><li><span>Vrijdag:</span> 8:30 - 11:45</li></ul>
            <ul><li><span>Zaterdag:</span> NTB</li></ul>
            <ul><li><span>Zondag:</span> NTB</li></ul>
            <br>
            <br>
            <ul><li><i class="fa fa-map-marker"></i><span>Adres:</span> info@doctor.com</li></ul>
            <ul><li><i class="fa fa-phone"></i><span>Telefoon:</span> info@doctor.com</li></ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 contact-info text-left">
          <h3>ASZ Aalst</h3>
          <div class="info-detail">
            <ul><li><i class="fa fa-calendar"></i><span> Beschikbaarheid </span></li></ul>
            <ul><li><span>Maandag:</span> 13:15 - 16:30</li></ul>
            <ul><li><span>Dinsdag:</span> NTB</li></ul>
            <ul><li><span>Woensdag:</span> NTB</li></ul>
            <ul><li><span>Donderdag:</span> NTB</li></ul>
            <ul><li><span>Vrijdag:</span> NTB</li></ul>
            <ul><li><span>Zaterdag:</span> NTB</li></ul>
            <ul><li><span>Zondag:</span> NTB</li></ul>
            <br>
            <br>
            <ul><li><i class="fa fa-map-marker"></i><span>Adres:</span> info@doctor.com</li></ul>
            <ul><li><i class="fa fa-phone"></i><span>Telefoon:</span> 053/76 40 06</li></ul>
          </div>
        </div>


        <!-- <div class="col-md-6 col-md-offset-1 contact-form">
          <h3>leave us a message</h3>

          <form class="form">
            <input class="name" type="text" placeholder="Name">
            <input class="email" type="email" placeholder="Email">
            <input class="phone" type="text" placeholder="Phone No:">
            <textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
            <input class="submit-btn" type="submit" value="SUBMIT">
          </form>
        </div> -->
      </div>
    </div>
  </div>
</section><!-- end of contact section -->

<!-- direction section -->
<section class="team" id="reach">
  <div class="container">
    <div class="row">
      <div class="team-heading text-center">
        <h2>Bereikbaarheid</h2>
        <h4>De praktijk van {{{ title }}} is gelegen aan de rand van het centrum van Aalst, net op grondgebied Nieuwerkerken.</h4>
        <h4>U kan de praktijk via de Siesegemlaan of via de Capucienenlaan bereiken:</h4>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="single-about-detail clearfix">
          <div class="about-img">
            <img class="img-responsive" src="img/siesegemlaan.png" alt="Route mogelijkheid 1">
          </div>
          <div class="about-details">
            <div class="pentagon-text">
              <h1>S</h1>
            </div>
            <a target="_blank" href="https://www.google.be/maps/dir/50.9363213,4.0150442/Kwalestraat+115a,+9320+Aalst/@50.9332612,4.0131933,16z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47c3a2b2c2d89371:0x3ef01f30367b344a!2m2!1d4.0201068!2d50.9309436!3e0"><h3>Siesegemlaan</h3></a>
            <p>Vanop de Siesegemlaan slaat u ter hoogte van het WIT-Gele kruis in, richting Aalst. De praktijk is gelegen aan de rechter zijde net vóór het Regelsbrugge kasteel en schuin tegenover de Hogeschool KAHO Sint-Lieven (Odisee).</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="single-about-detail clearfix">
          <div class="about-img">
            <img class="img-responsive" src="img/capucienenlaan.png" alt="Route mogelijkheid 2">
          </div>
          <div class="about-details">
            <div class="pentagon-text">
              <h1>C</h1>
            </div>
            <a target="_blank" href="https://www.google.be/maps/dir/Capucienenlaan,+9300+Aalst/Kwalestraat+115a,+9320+Aalst/@50.9329181,4.0232192,17z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47c3bd519caf1d8b:0x82d1ec5c5a512498!2m2!1d4.0293714!2d50.9348927!1m5!1m1!1s0x47c3a2b2c2d89371:0x3ef01f30367b344a!2m2!1d4.0201068!2d50.9309436!3e0"><h3>Capucienenlaan</h3></a>
            <p>Vanop de Capucienenlaan neemt u richting Nieuwerkerken aan de Capucienenkerk. De praktijk is gelegen aan de linker zijde net na het Regelsbrugge kasteel en de Hogeschool KAHO Sint-Lieven (Odisee).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- end of team section -->
